body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: black; /* Set default background color */
  font-family: 'Garamond', serif;
}

body.preload * {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.loaded * {
  opacity: 1;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 80px; /* Adjusted to lower the menu text */
  z-index: 2000;
}

.nav-bar a {
  text-decoration: none;
  margin: 0 40px; /* Increased spacing between text options */
  position: relative; /* For background blur */
}

.nav-bar img {
  width: 60px; /* Adjust size as needed */
  height: 60px;
  transition: filter 0.3s, transform 0.3s;
  filter: brightness(1.4);
}

.nav-bar a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px; /* Background size */
  height: 80px;
  background: rgba(175, 88, 7, 0.2);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(50px);
}

.nav-bar a:hover img {
  filter: brightness(1.7);
  transform: scale(1.1);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; /* Ensure the video stays in the background */
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* Ensure the video stays in the background */
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); /* Adjust the scale factor as needed */
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-top: 60px; /* Adjust to give space for the navbar */
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
}

.main-content img {
  display: block;
  margin: 10px auto;
}

.main-content img.album-title {
  width: 150px; /* Adjust size as needed */
  height: auto;
  margin-top: 0px;
  margin-bottom: 30px;
}

.main-content img.album-cover {
  width: 300px; /* Adjust as needed */
  height: auto;
  margin-top: 150px;
}

.music-buttons {
  margin-top: 20px;
}

.music-buttons a {
  display: inline-block;
  margin: 0 10px;
  margin-top: -20px;
}

.apple-music-button img {
  width: 250px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  border: none; /* Remove the weird border */
  transition: filter 0.3s, transform 0.3s;
  filter: brightness(1.0);
  border-radius: 10px; /* Make the border rounded */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.logo-container {
  text-align: center; /* Center the logo horizontally */
  padding: 20px 0; /* Add some space around the logo */
  position: fixed;
  width: 100%;
  top: 10px; /* Adjust top position as needed */
  z-index: 2000; /* Ensure it's above other elements */
}

.erevar-logo {
  width: 130px; /* Adjust the width to fit your design */
  height: auto; /* Maintain aspect ratio */
  filter: brightness(0.82); /* Slightly increase brightness */
}

.apple-music-button img:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.spotify-button img {
  width: 250px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  border: none; /* Remove the weird border */
  transition: filter 0.3s, transform 0.3s;
  filter: brightness(1.0);
  border-radius: 10px; /* Make the border rounded */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.spotify-button img:hover {
  filter: brightness(1.2);
  transform: scale(1.1);
}

.content img {
  display: block;
  margin: 0 auto;
}

.content img.lighter-title {
  width: 250px; /* Adjust size as needed */
  height: auto;
  margin-bottom: -60px;
  margin-top: 100px;
}

.content img.poster {
  width: 100px; /* Adjust as needed */
  height: auto;
  margin-top: 40px;
  margin-bottom: 60px;
}

.content img.poster-price {
  width: 70px; /* Adjust size as needed */
  height: auto;
  margin-top: 10px;
  transition: filter 0.3s, transform 0.3s, border-color 0.3s;
  filter: brightness(1.4);
  border: 2px solid rgba(255, 92, 92, 0.699); /* Add red border */
  border-radius: 10px; /* Make the border rounded */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.content img.poster-price:hover {
  filter: brightness(1.7);
  transform: scale(1.1);
  border-color: lightcoral; /* Brighten border color on hover */
}

.content img.lighter {
  width: 100px; /* Adjust size as needed */
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.content p {
  font-size: 1.5em;
  margin-top: 10px;
}

.youtube-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  z-index: 1000; /* Ensure it is above the video background */
}

.coming-soon {
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  z-index: 2000; /* Ensure it's above other content */
}

.youtube-video-single {
  width: 100%; /* Make the video container take up the full width of its parent */
  max-width: 1000px; /* Increase this value to make the video larger */
  margin: 0 auto 40px auto; /* Center the video and add more spacing below */
}

.youtube-video-single iframe {
  width: 100%; /* Full width of the container */
  height: auto; /* Maintain aspect ratio */
  aspect-ratio: 16 / 9; /* Ensure correct aspect ratio */
  min-height: 400px; /* Minimum height to ensure the videos are large */
}

.youtube-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 120px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto; /* Center the grid horizontally */
  margin-top: 300px; /* Adjust as needed */
  width: fit-content; /* Make the grid container fit its content */
  z-index: 1000; /* Ensure it is above the video background */
  position: relative;
}

.youtube-video iframe {
  margin-top: 130px;
  width: 900x; /* Adjust width as needed */
  height: 340px; /* Adjust height as needed */
}

.music-icons {
  display: flex;
  gap: 40px; /* Space between icons */
  justify-content: center;
  margin-top: 20px; /* Space between video and icons */
}

.music-icons .icon {
  width: 50px; /* Set the icon size */
  height: 50px;
  transition: transform 0.3s, filter 0.3s;
  cursor: pointer;
}

.music-icons .icon:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}

/* Media Queries for larger screens */
@media (min-width: 768px) {
  .nav-bar a {
    margin: 0 50px; /* Increased spacing between text options for larger screens */
  }

  .nav-bar img {
    width: 80px; /* Increased size for larger screens */
    height: 80px;
  }

  .nav-bar a::before {
    width: 100px; /* Increased background size for larger screens */
    height: 100px;
  }

  .content img.poster-title {
    width: 200px; /* Larger size for larger screens */
  }

  .content img.poster {
    width: 200px; /* Larger size for larger screens */
  }

  .content img.poster-price {
    width: 100px; /* Larger size for larger screens */
  }

  .content img.lighter {
    width: 200px; /* Larger size for larger screens */
  }
}

/* Media Queries for smaller screens */
@media (max-width: 767px) {
  .youtube-video {
    width: 100%;
    max-width: 90vw; /* Make the video width 90% of the viewport width */
    margin: 0 auto 20px auto; /* Center the video and add spacing below */
  }

  .youtube-video iframe {
    width: 400px;
    height: auto;
    aspect-ratio: 16 / 9; /* Ensure correct aspect ratio */
    min-height: auto; /* Remove the minimum height constraint for better fit on mobile */
    margin-top: 0;
  }

  .youtube-video-single {
    width: 100%; /* Make the video container take up the full width of its parent */
    max-width: 1000px; /* Increase this value to make the video larger */
    margin: 0 auto 40px auto; /* Center the video and add more spacing below */
  }
  
  .youtube-video-single iframe {
    width: 100%; /* Full width of the container */
    height: auto; /* Maintain aspect ratio */
    aspect-ratio: 16 / 9; /* Ensure correct aspect ratio */
    min-height: 200px; /* Reduce the minimum height for better fit on mobile */
    margin: 0 auto; /* Center the iframe itself */
  }



  .nav-bar {
    justify-content: space-around; /* Ensure icons are evenly spaced across the top */
    flex-direction: row; /* Keep icons in a row */
    top: 20px; /* Adjust top position for smaller screens */
  }

  .nav-bar a {
    margin: 70px 0; /* Adjusted spacing for smaller screens */
  }

  .nav-bar img {
    width: 50px; /* Default size for smaller screens */
    height: 50px;
  }

  .nav-bar a::before {
    width: 70px; /* Default background size for smaller screens */
    height: 70px;
  }

  .content img.poster-title {
    width: 100px; /* Smaller size for smaller screens */
  }

  .content img.poster {
    width: 150px; /* Smaller size for smaller screens */
  }

  .content img.poster-price {
    width: 80px; /* Smaller size for smaller screens */
  }

  .youtube-grid {
    grid-template-columns: 1fr; /* Stack videos vertically on smaller screens */
    grid-gap: 0px; /* Provide some space between videos */
    margin-top: 280px; /* Adjust the top margin to suit mobile better */
    padding: 10px; /* Add some padding for better appearance */
    width: 100%; /* Ensure the grid takes up full width of the screen */
  }

  .content img.lighter {
    width: 150px; /* Smaller size for smaller screens */
  }

  .content img.lighter-title {
    margin-top: 85px;
  }
}

