body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1920px; /* Set the original width of the video */
  height: 1080px; /* Set the original height of the video */
  min-width: 100%;
  min-height: 100%;
  object-fit: cover; /* Crop the sides to fit */
  object-position: center; /* Center the video */
  z-index: -1000;
}

